---
import DarkModeToggle from "./DarkModeToggle.astro";
---

<header class="border-b backdrop-blur shadow fixed top-0 left-0 right-0 z-50">
  <div class="container mx-auto px-4">
    <nav class="flex items-center justify-between py-4 hidden xl:flex">
      <a href="#inicio" class="text-xl font-bold transition-transform transform-gpu hover:scale-125">Corvus DDoSKrom</a>
      <ul class="hidden sm:flex space-x-4 flex-grow justify-center">
        <li class="flex-row justify-center  text-white cursor-pointer hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 mr-2 mb-2 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-90 hover:opacity-100"><a href="#inicio">Inicio</a></li>
        <li class="flex-row justify-center  text-white cursor-pointer hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 mr-2 mb-2 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-90 hover:opacity-100"><a href="#proyectos">Proyectos</a></li>
        <li class="flex-row justify-center  text-white cursor-pointer hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 mr-2 mb-2 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-90 hover:opacity-100"><a href="#habilidades">Habilidades</a></li>
        <li class="flex-row justify-center  text-white cursor-pointer hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 mr-2 mb-2 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-90 hover:opacity-100"><a href="#contacto">Contacto</a></li>
      </ul>
      <a href="https://github.com/Corvus-DDoSKrom" target="_blank" class="transition-transform hover:-translate-y-1 px-2" title="Go to my github">
        <img src="github.svg" class="mx-auto invert h-8 w-8">
      </a>
      <DarkModeToggle />
    </nav>
  </div>
</header>